body {
	background-image: url("./assets/bg.gif");

	text-align: center;
	color: white;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	margin: 0;
	width: 100vw;
	height: 100vh;
}
#header {
	background-color: rgb(58, 69, 228);
	height: auto;
	width: 100%;
	margin: auto;
	text-align: center;
	color: black;
}
#main {
	background-color: black;
	color: whitesmoke;
	height: 100%;
	width: 90vw;
	margin: auto;
	padding: 2rem;
}

#getTx {
	color: aqua;
}
#footer {
	height: auto;
	margin: auto;
}
